<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../../logo/equity.svg" type="image/x-icon">
    <title>Pictures</title>
    <link rel="stylesheet" href="gallary.css">
</head>
<body>
    <div class="main">
        <div class="img-box" data-value="1">
            <img src="img/image (1).jpg" alt="">
        </div>
        <div class="img-box" data-value="2">
            <img src="img/image (2).jpg" alt="">
        </div>
        <div class="img-box" data-value="3">
            <img src="img/image (3).jpg" alt="">
        </div>
        <div class="img-box" data-value="4">
            <img src="img/image (4).jpg" alt="">
        </div>
        <div class="img-box" data-value="5">
            <img src="img/image (5).jpg" alt="">
        </div>
        <div class="img-box" data-value="6">
            <img src="img/image (6).jpg" alt="">
        </div>
        <div class="img-box" data-value="7">
            <img src="img/image (7).jpg" alt="">
        </div>    
        <div class="img-box" data-value="8">
            <img src="img/image (8).jpg" alt="">
        </div>
        <div class="img-box" data-value="9">
            <img src="img/image (9).jpg" alt="">
        </div>
        <div class="img-box" data-value="10">
            <img src="img/image (10).jpg" alt="">
        </div>
        <div class="img-box" data-value="11">
            <img src="img/image (11).jpg" alt="">
        </div>
        <div class="img-box" data-value="12">
            <img src="img/image (12).jpg" alt="">
        </div>
        <div class="img-box" data-value="13">
            <img src="img/image (13).jpg" alt="">
        </div>
        <div class="img-box" data-value="14">
            <img src="img/image (14).jpg" alt="">
        </div>
        <div class="img-box" data-value="15">
            <img src="img/image (15).jpg" alt="">
        </div>    
        <div class="img-box" data-value="16">
            <img src="img/image (16).jpg" alt="">
        </div>
        <div class="img-box" data-value="17">
            <img src="img/image (17).jpg" alt="">
        </div>
        <div class="img-box" data-value="18">
            <img src="img/image (18).jpg" alt="">
        </div>
        <div class="img-box" data-value="19">
            <img src="img/image (19).jpg" alt="">
        </div>
        <div class="img-box" data-value="20">
            <img src="img/image (20).jpg" alt="">
        </div>
        <div class="img-box" data-value="21">
            <img src="img/image (21).jpg" alt="">
        </div>
        <div class="img-box" data-value="22">
            <img src="img/image (22).jpg" alt="">
        </div>
        <div class="img-box" data-value="23">
            <img src="img/image (23).jpg" alt="">
        </div>    
        <div class="img-box" data-value="24">
            <img src="img/image (24).jpg" alt="">
        </div>
        <div class="img-box" data-value="25">
            <img src="img/image (25).jpg" alt="">
        </div>
        <div class="img-box" data-value="26">
            <img src="img/image (26).jpg" alt="">
        </div>
        <div class="img-box" data-value="27">
            <img src="img/image (27).jpg" alt="">
        </div>
        <div class="img-box" data-value="28">
            <img src="img/image (28).jpg" alt="">
        </div>
        <div class="img-box" data-value="29">
            <img src="img/image (29).jpg" alt="">
        </div>
        <div class="img-box" data-value="30">
            <img src="img/image (30).jpg" alt="">
        </div>
        <div class="img-box" data-value="31">
            <img src="img/image (31).jpg" alt="">
        </div>    
        <div class="img-box" data-value="32">
            <img src="img/image (32).jpg" alt="">
        </div>
        <div class="img-box" data-value="33">
            <img src="img/image (33).jpg" alt="">
        </div>
        <div class="img-box" data-value="34">
            <img src="img/image (34).jpg" alt="">
        </div>
        <div class="img-box" data-value="34">
            <img src="img/image (34).jpg" alt="">
        </div>
        <div class="img-box" data-value="35">
            <img src="img/image (35).jpg" alt="">
        </div>
        <div class="img-box" data-value="36">
            <img src="img/image (36).jpg" alt="">
        </div>
        <div class="img-box" data-value="37">
            <img src="img/image (37).jpg" alt="">
        </div>
        <div class="img-box" data-value="38">
            <img src="img/image (38).jpg" alt="">
        </div>    
        <div class="img-box" data-value="39">
            <img src="img/image (39).jpg" alt="">
        </div>
        <div class="img-box" data-value="40">
            <img src="img/image (40).jpg" alt="">
        </div>
        <div class="img-box" data-value="41">
            <img src="img/image (41).jpg" alt="">
        </div>
        <div class="img-box" data-value="42">
            <img src="img/image (42).jpg" alt="">
        </div>
        <div class="img-box" data-value="43">
            <img src="img/image (1).webp" alt="">
        </div>
        <div class="img-box" data-value="44">
            <img src="img/image (44).jpg" alt="">
        </div>
        <div class="img-box" data-value="45">
            <img src="img/image (45).jpg" alt="">
        </div>
        <div class="img-box" data-value="46">
            <img src="img/image (46).jpg" alt="">
        </div>    
    </div>


    <div class="overlay" id="overlay">
        <span class="close" id="closeBtn">&times;</span>
        <img id="overlayImg">
    </div>


    <script src="gallary.js"></script>
</body>
</html>